/*
detail.css
Imbound

Created by Kaleb Rosborough on 10 / 27 / 2022
Part of a group project by Max F, Max Z, Kaleb R, Norman A, Dylan A
*/

/*
default.css
Imbound

Created by Kaleb Rosborough on 10 / 17 / 2022
Part of a group project by Max F, Max Z, Kaleb R, Norman A, Dylan A
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbfbfb;
    margin: 0 auto;
    padding: 0 2em 1em;
}

header {
    padding: 0px 10px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 8px #ddddddaa;
    background-color: #ffffff;
    margin-top: 20px;
    display: flex;
}

main {
    /* align-content: center; */
    margin-top: 20px;
    display: flex;
}

header h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3b35ca;
    font-size: 30px;
    display: inline-block;
}

header input[type=text] {
    padding: 10px 23px;
    box-sizing: border-box;
    border: 2px solid #eeeeee;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    flex: 1;
    height: 50px;
    margin-top: 14px;
}

header input[type=button] {
    background-color: #4cd085;
    border: solid 5px #4cd085;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 0px 2%;
    margin-top: 14px;
    width: 7%;
    height: 50px;
    min-width: 120px;
}

header input[type=button]:hover {
    background-color: #3bc974;
    border: solid 5px #3bc974;
    color: white;
    transition-duration: 0.2s;
}

header input[type=button]:active {
    background-color: #3bc974;
    border: solid 4px #3bc974;
    color: white;
    transition-duration: 0.02s;
}

#img_display {
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
    margin: 0px 20px;
}

#img_info {
    flex: 1;
    display: inline-block;
    padding: 0px 20px;
}

#tags {
    display: inline;
    /* margin: 30px -45px; */
}

#tags li {
    display: inline;
    background-color: #3b35ca55;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
}

#comments {
    list-style-type: none;
}

#comments li {
    padding: 10px;
    margin: 10px 0px 10px -30px;
    background-color: #ffffff;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 4px #dddddd55;
}

/* Add Comment TextArea */
#comment {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
    margin-right: 6px;
    border-radius: 6px;
    height: 60px;
    width: 630px;
    resize: vertical;
    max-height: 250px;
}

/* Add Comment Button/Share Button */
#add_comment, #share_btn {
    background-color: #4cd085;
    border: solid 5px #4cd085;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px 2%;
    width: 4%;
    height: 40px;
    min-width: 110px;
}

#add_comment:active, #share_btn:active {
    background-color: #3bc974;
    border: solid 4px #3bc974;
    color: white;
    transition-duration: 0.02s;
}

#add_comment:hover, #share_btn:hover {
    background-color: #3bc974;
    border: solid 4px #3bc974;
    color: white;
    transition-duration: 0.02s;
}

/* Clear Comment Button */
#clear_comment {
    background-color: #4cd085;
    border: solid 5px #4cd085;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px 1%;
    height: 40px;
    min-width: 110px;
}

#clear_comment:active {
    background-color: #3bc974;
    border: solid 4px #3bc974;
    color: white;
    transition-duration: 0.02s;
}

#clear_comment:hover {
    background-color: #3bc974;
    border: solid 4px #3bc974;
    color: white;
    transition-duration: 0.02s;
}

/* Comment Button Error Text */
#comment_error, #share_error {
    color: red;
    position: 10px;
    float: right;
    margin: 10px;
}

/* Positioning menu_dropdown content */
.menu_dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 2.1%;
}

/* Dropdown Menu CSS (hidden when not hover) */
.menu_dropdown_content {
    display: none;
    position: absolute;
    background-color: #3ed079;
    border-radius: 8px;
    margin-top: 2px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 4px;
}

/* Dropdown links CSS */
.menu_dropdown_content a {
    color: white;
    padding: 10px 24px 10px 18px;
    text-decoration: none;
    display: block;
}

/* Color of dropdown_content links on hover */
.menu_dropdown_content a:hover {
    background-color: #39a566;
    border-radius: 8px;
}

/* Shows the dropdown menu on hover of menu_btn */
.menu_dropdown:hover .menu_dropdown_content {
    display: block;
}

.current_page {
    pointer-events: none;
}
